[Unit]
Description=Puppet

[Service]
ExecStart=/var/www/puppet/index.js
Restart=always
User=www-data
Group=www-data
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/puppet

[Install]
WantedBy=multi-user.target
